<div class="panel panel-info">
    <div class="panel-heading">
        게시판
    </div>
    <div class="panel-body">
        <board-detail *ngIf="selectedBoard" [board]="selectedBoard"></board-detail>
        <table class="table">
            <thead>
            <tr>
                <td>번호</td>
                <td>제목</td>
                <td>작성자</td>
                <td>작성일</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let board of boards" (click)="getBoard(board)" [class.selected]="board.board_id===selectedBoard?.board_id" style="cursor: pointer;">
                <td>{{board.board_id}}</td>
                <td><i style="margin-left: 15px;" class="material-icons" *ngIf="board.level > 0">subdirectory_arrow_right</i>{{board.title}}</td>
                <td>{{board.member.name}}</td>
                <td>{{board.created}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<board-write [level] = "0" [parent_id]="0" (refresh)="getBoardList()"></board-write>

