<div class="panel panel-info">
  <div class="panel-heading">
    게시판
  </div>
  <div class="panel-body">
    <div style="border: 1px solid #999999; padding: 15px;margin-bottom: 30px;" ng-show="selectedBoard != null">
      {{selectedBoard.content}}
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <td>번호</td>
        <td>제목</td>
        <td>작성자</td>
        <td>작성일</td>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="board in boardList" ng-click="getBoard(board)"
          ng-class="{selected: selectedBoard.board_id==board.board_id}"
          style="cursor: pointer;">
        <td>{{board.board_id}}</td>
        <td><i style="margin-left: 15px;" class="material-icons" ng-show="board.level > 0">subdirectory_arrow_right</i>{{board.title}}</td>
        <td>{{board.name}}</td>
        <td>{{board.created}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
